<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APlogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="/login"><img src="../../../assets/Linkedin.png" id="linkedin"></a>
            <a href=""><img src="../../../assets/Twitter.jpeg" id="twitter"></a>
            <a href=""><img src="../../../assets/Instagram.jpeg" id="instagram"></a>
            <a href=""><img src="../../../assets/Facebook.jpg" id="facebook"></a>
            <a href=""><img src="../../../assets/GitHub.png" id="github"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">INGRESO</button>
        </div>
    </div>
</div>
